.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.board {
    display: grid;
    height: 500px;
    width: 500px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
    border: 1px solid black;
    gap: 2px;
    padding: 2px;
    background-color: yellow;
    margin: 0 auto;
  }

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
    border: 1px solid grey;
    background: lightyellow;
    cursor: pointer;
}
.info {
    display: none;
    width: 500px;
    height: 300px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 20;
    background-color: white;
}